body {
    background-color: #252525;
    font-family: Arial, Helvetica;
}

.content {
    width: 80%;
    margin: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    clear: both;
}

.listing li {
    float: left;
    margin: 20px;
}

.programme {
    width: 200px;
    height: 220px;
}

.programmeTitle {
    color: #eee;
    padding-bottom: 10px;
}

.programmeSynopse {
    color: #bbb;
}

.azNavigation {
    padding: 26px 12px;
}

.azNavigation li {
    float: left;
}

.azNavigation a {
    background-color: #000;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: #bbb;
}

.azNavigation a:active {
    background-color: #f54997;
}

.pagination {
    width: 100%;
    text-align: center;
    margin: auto;
}

.pagination li {
    float: left;
    background-color: #000;
    margin: 5px;
}

.hideError {
    display: none;
}

.hideListing {
    display: none;
}
