body {
    background-color: #252525;
    font-family: Arial, Helvetica;
    color: #bbb;
}

.content {
    width: 90%;
    margin: auto;
}

h2 {
    padding: 0 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.listing {
    clear: both;
}

.listing li {
    float: left;
    margin: 20px;
}

.programme {
    width: 200px;
    height: 220px;
}

.programmeTitle {
    color: #eee;
    padding-bottom: 10px;
}

.azNavigation {
    padding: 26px 12px;
    clear: both;
}

.azNavigation li {
    float: left;
}

.azNavigation a {
    background-color: #000;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: #bbb;
}

.azNavigation a:active {
    background-color: #f54997;
}

.azNavigation .selected {
    background-color: #f54997;
}

.pagination {
    padding: 26px 20px;
    width: 100%;
    height: 50px;
    clear: both;
    text-align: center;
    line-height: 20px;
}

.pagination span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    float: left;
}

.paginationList {
    display: inline;
    float: left;
}

.paginationList li {
    float: left;
    margin: 0 5px;
}

.paginationList input {
    background-color: #000;
    padding: 10px 20px;
    color: #bbb;
    text-decoration: none;
    border: 0px;
}

.paginationList input:active {
    background-color: #f54997;
}

.paginationList input:disabled {
    background-color: #f54997;
}

.error {
    padding: 26px 12px;
    clear: both;
}

.hideError {
    display: none;
}

.hideListing {
    display: none;
}

.hidePagination {
    display: none;
}
